.modal-body__title {
	padding-bottom: 0.5em;
	text-align: center;
	font-size: 2em;
	font-weight: 600;
	border-bottom: 1px solid #e3e3e3
}

.export-settings {
	margin-top: 15px;
}

.export-settings__title {
	text-align: center;
	font-size: 1.3em;
}

.form-checklist {
	margin: 15px 0;
	font-size: 1.2em;
}

.form-checklist__title,
.form-checklist__item
{
	margin-bottom: 5px;
}

.form-checklist__item {
	display: block;
}